@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color: #ff3b5c;
  --text-color: #161823;
  --white-color: #fff;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizespeed;
  font-optical-sizing: auto;
}

body {
  font-size: 1.6rem;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

button {
  background-color: transparent;
}

// Custom tippy tooltip

body {
  .tippy-box {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
    border-radius: 8px;
    background-color: #545454;
  }

  .tippy-arrow {
    color: #545454;
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8;
  }
}
