.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Action
.actions {
  display: flex;
  align-items: center;
}

// .custom-login {
//   color: #515151;
// }

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  cursor: pointer;
}

.action-btn {
  position: relative;
  display: flex;
  font-size: 2.4rem;
  color: #161823;
  padding: 4px 10px;
  cursor: pointer;
}

.badge {
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'IBM Plex Sans', 'TikTokFont', 'Arial', sans-serif;
  padding: 3px 5px;
  border-radius: 10px;
  line-height: 1.5rem;
  text-align: center;
  position: absolute;
  top: -6px;
  right: -3px;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.user-avatar {
  width: 32px;
  height: 32px;
  margin-left: 14px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
